.heading-1 {
    font-family: $font-headings;
    line-height: 1;
    font-size: 6rem;
    font-weight: 300;
    color: $accent-color;
    text-transform: uppercase;

    @media only screen and (max-width: 500px) {
        font-size: 3rem;
    }
}

.heading-3 {
    font-family: $font-headings;
    line-height: 1;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-text-color;
    text-transform: uppercase;

    @media only screen and (max-width: 700px) {
        font-size: 2.5rem;
    }
}